<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>

      <!-- Enable Sitemap generation -->
      <setting name="Sitemap.ShouldGenerate" value="true" />

      <!-- Path in webroot in which to store generated sitemaps -->
      <setting name="Sitemap.StoreLocation" value="/App_Data/Sitemaps" />

      <!-- Trigger the sitemap rebuild locally and remotely -->
      <setting name="Sitemap.Commands.GenerateLocally" value="true" />

      <!-- Enable mapping wildcard items (currently unused) -->
      <setting name="Sitemap.IdentifyWildcardItems" value="true"/>

      <!-- decides if 'like' paths should be matched when using a sitemap group -->
      <setting name="Sitemap.Groups.MatchPaths" value="true" />

      <!-- disallow multiple generations of the same sitemap. 600 = 10 minutes -->
      <setting name="Sitemap.ManualGeneration.Delay.Seconds" value="600" />
    </settings>
    <commands>
      <command name="sitemap:generate" type="SitemapGenerator.Commands.GenerateSitemapCommand, SitemapGenerator" />
    </commands>
    <events>
      <event name="sitemap:generate">
        <handler type="SitemapGenerator.LocalEvents.GenerateSitemapLocalEvent, SitemapGenerator" method="GenerateSitemap" />
      </event>
    </events>
    <pipelines>
      <initialize>
        <processor type="SitemapGenerator.Pipelines.Initialize.RemoteEventSubscriber, SitemapGenerator" method="Initialize" />
      </initialize>
      <sitemap.Generate>
        <processor type="SitemapGenerator.Pipelines.SitemapGenerate.ResolveGlobalDirectory, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.SitemapGenerate.VerifyGlobalDirectoryAndCreate, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.SitemapGenerate.ResolveRelativeSitemapDirectory, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.SitemapGenerate.GetSites, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.SitemapGenerate.GetLanguages, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.SitemapGenerate.GetItems, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.SitemapGenerate.GetGroupLanguages, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.SitemapGenerate.WriteSitemaps, SitemapGenerator" />
      </sitemap.Generate>
      <sitemap.GetLanguages>
        <processor type="SitemapGenerator.Pipelines.GetLanguages.ValidLanguages, SitemapGenerator" />
      </sitemap.GetLanguages>
      <sitemap.GetItems>
        <processor type="SitemapGenerator.Pipelines.GetItems.TraverseTree, SitemapGenerator" />
        <!-- wild card items -->
      </sitemap.GetItems>
      <sitemap.ValidateItemVersion>
        <processor type="SitemapGenerator.Pipelines.ValidateItemVersion.HasPresentationDetails, SitemapGenerator" />
      </sitemap.ValidateItemVersion>
      <sitemap.GetModifiedDate>
        <processor type="SitemapGenerator.Pipelines.BuildSiteXml.GetModifiedDate, SitemapGenerator" />
      </sitemap.GetModifiedDate>
      <sitemap.ProcessItem>
        <processor type="SitemapGenerator.Pipelines.ProcessItem.AddItemVersions, SitemapGenerator" />
      </sitemap.ProcessItem>
      <sitemap.GetItemLink>
        <processor type="SitemapGenerator.Pipelines.GetItemLink.ResolveUrl, SitemapGenerator" />
      </sitemap.GetItemLink>
      <sitemap.WriteSitemaps>
        <processor type="SitemapGenerator.Pipelines.WriteSitemaps.BuildSitemapsXml, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.WriteSitemaps.RefreshSitemapDirectory, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.WriteSitemaps.WriteFiles, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.WriteSitemaps.WriteIndexFile, SitemapGenerator" />
      </sitemap.WriteSitemaps>
      <sitemap.BuildSiteXml>
        <processor type="SitemapGenerator.Pipelines.BuildSiteXml.BuildXmlPerSite, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.BuildSiteXml.ConvertToXmlString, SitemapGenerator" />
        <processor type="SitemapGenerator.Pipelines.BuildSiteXml.ModifyXmlString, SitemapGenerator" />
      </sitemap.BuildSiteXml>
      <sitemap.WriteFile>
        <processor type="SitemapGenerator.Pipelines.WriteFile.WriteSitemapXmlFile, SitemapGenerator" />
      </sitemap.WriteFile>
      <sitemap.GetSitemapPath>
        <processor type="SitemapGenerator.Pipelines.GetSitemapPathForSite.GetSiteSpecificPath, SitemapGenerator" />
      </sitemap.GetSitemapPath>
    </pipelines>
    <customHandlers>
      <handler trigger="sitemap.xml" handler="sitemap.ashx" />
      
      <!-- Handlers for Sitemap groups -->
      <!-- <handler trigger="sitemaps/[sitename].xml" handler="groupedSiteSitemap.ashx" /> -->
    </customHandlers>
    <log4net>
      <appender name="SitemapAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Sitemap.log.{date}.txt"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %c{1} %m%n"/>
        </layout>
        <encoding value="utf-8"/>
      </appender>
      <logger name="SitemapGenerator.Logger">
        <level value="INFO"/>
        <appender-ref ref="SitemapAppender"/>
      </logger>
    </log4net>
  </sitecore>
</configuration>